<div class="containter">
  <div class="row">
    <h3>PODSUMOWANIE</h3>
  </div>
  <div class="row">
    <ol>
    <li>Data: {{order.flight.dateOfFlight}}</li>
    <li>Skąd: {{order.route.from}}</li>
    <li>Dokąd: {{order.route.to}}</li>
    <li>Godzina wylotu: {{order.route.departure}}</li>
    <li>Godzina przylotu: {{order.route.arrival}}</li>
    <li>Liczba pasażerów: {{order.flight.noOfPassengers}}</li>
    <li>Rodzaj bagażu: {{order.luggage}}</li>
    <li>Wybrane miejsca: {{order.seatNo}}</li>
    <li>Cena końcowa: {{order.fullPrice}}</li>

    </ol>
  </div>
</div>
