<div class="container spacer">
  <div class="row">
    <div class="col align-self-start"></div>
    <div class="col align-self-center">
      <ul class="list-group">
        <li class="list-group-item active">PODSUMOWANIE</li>
        <li class="list-group-item">Data: <b>{{order.flight.dateOfFlight}}</b></li>
        <li class="list-group-item">Skąd: <b>{{order.route.from}}</b></li>
        <li class="list-group-item">Dokąd: <b>{{order.route.to}}</b></li>
        <li class="list-group-item">Godzina wylotu: <b>{{order.route.departure}}</b></li>
        <li class="list-group-item">Godzina przylotu: <b>{{order.route.arrival}}</b></li>
        <li class="list-group-item">Liczba pasażerów: <b>{{order.flight.noOfPassengers}}</b></li>
        <li class="list-group-item">Rodzaj bagażu: <b>{{order.luggage}}</b></li>
        <li class="list-group-item">Wybrane miejsca: <b>{{order.seatNo}}</b></li>
        <li class="list-group-item">Cena końcowa: <b>{{order.fullPrice}}</b> PLN</li>
      </ul>
      <div class="spacer"></div>
      <a href="/search" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">Powrót do strony
        głównej</a>
    </div>
    <div class="col align-self-end"></div>
  </div>
</div>
