<div class="main">
  <div class="img">
    <img src="https://i.ibb.co/CM4k9nJ/FJ-default-image-optimized.jpg" alt="">
  </div>
  <div class="header">Loty</div>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row main2">
        <div class="form-group col-md-3 col-sm-12 col-xs-12 test">
          <label type="text">
            <fa-icon class="searchIcon" [icon]="passangersIcon"></fa-icon>
            <input class="form-control" formControlName="passengers" type="number" id="quantity" name="quantity" min="1"
              max="5" required>
          </label>
        </div>
        <div class="form-group col-md-3 col-sm-12 col-xs-12">
          <fa-icon class="searchIcon" [icon]="departureIcon"></fa-icon>
          <select class="form-control" formControlName="place" (change)="setDestinations()" required>
            <option [value]="" disabled selected>Skąd lecisz?</option>
            <option *ngFor="let place of places let i = index" [ngValue]="place">
              {{place}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3 col-sm-12 col-xs-12">
          <fa-icon class="searchIcon" [icon]="arrivalIcon"></fa-icon>
          <select class="form-control" formControlName="destination" required>
            <option [value]="" disabled selected>Dokąd lecisz?</option>
            <option *ngFor="let destination of destinations let i = index" [ngValue]="destination">
              {{destination}}
            </option>
          </select>
        </div>
        <div class="form-group col-md-3 col-sm-12 col-xs-12 test">
          <label type="date">
            <fa-icon class="searchIcon" [icon]="callendarIcon"></fa-icon>
            <input class="form-control" formControlName="date" id="inputDate" type="date"
              value="{{minDate|date:'yyyy-MM-dd'}}" min="{{minDate|date:'yyyy-MM-dd'}}"
              max="{{maxDate|date:'yyyy-MM-dd'}}">
          </label>
        </div>
      </div>
      <div class="btn2" id="searchBtn">
        <button type="submit" class="btn btn-primary">
          <fa-icon class="searchIcon" [icon]="searchIcon"></fa-icon>Szukaj
        </button>
      </div>
    </form>
  </div>
  <div class="container">
    <div class="row spacer align-middle">
      <div class="col-md-3 offset-md-1 box">
        <fa-icon class="fa-5x iconColor" [icon]="carIcon"></fa-icon><br>
        <h4>WYNAJMIJ AUTO</h4>
      </div>
      <div class="col-md-3 offset-md-1 box">
        <fa-icon class="fa-5x iconColor" [icon]="bedIcon"></fa-icon><br>
        <h4>ZAREZERWUJ NOCLEG</h4>
      </div>
      <div class="col-md-3 offset-md-1 box">
        <fa-icon class="fa-5x iconColor" [icon]="virusIcon"></fa-icon><br>
        <h4>ZRÓB TEST NA COVID-19</h4>
      </div>
    </div>
  </div>
</div>
