<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
      <h3>Rejestracja</h3>
      <form>
          <div class="form-group">
            <label for="registerUserName">Nazwa użytkownika</label>
            <input type="text" class="form-control" id="registerUserName" placeholder="Enter username">
          </div>
          <div class="form-group">
              <label for="registerEmail">Email</label>
              <input type="email" class="form-control" id="registerEmail" placeholder="Enter email">
            </div>
          <div class="form-group">
            <label for="registerPassword">Hasło</label>
            <input type="password" class="form-control" id="registerPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Zarejestruj <i class="fas fa-sign-in-alt"></i></button>
        </form>
    </div>
  </div>
